/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
.env
.env.backup
.env.*.backup
.env.testing
/.idea
/.vscode
/.fleet
/.DS_Store
Thumbs.db
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
